.container{
    background: #faf6f7;
    padding: 0 10px;
    padding-bottom: 50px;
}
.section{
    padding-top: 20px;
}
.section1{
    composes: section;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section1 .imageWrapper{
    width: 40%;
}
.imageWrapper img{
    width: 90%;
    margin-right: 10%;
    border-radius: 3px;
}
.section1 .baseInfo{
    width: 60%;
    padding-right: 10px;
}
.header h4{
    margin-top: 0;
    margin-bottom: 5px;
}
.header h5{
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: normal;
    font-style: italic;
}
.infoWrapper p{
    font-size: 12px;
    color: grey;
    margin: 0;
}
.gradeContainer{
    display: flex;
    justify-content: center;
    width: 60%;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    margin-top: 10px;
    border-radius: 10px;
}
.gradeContainer h6 sup{
    text-indent: 0.5em;
    font-size: 0.8em;
}
.gradeContainer h6{
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 4em;
}
.section2{
    composes: section;
}
.section2 p{
    font-size: 12px;
    min-height: 25px;
}
.section2 p em{
    font-size: 1.4em;
    line-height: 2em;
    padding-right: 1em;
    float: left;
}
.toggleButton{
    color: #08ba11;
    text-decoration: underline;
    margin-left: 0.5em;
}
.section3{
    composes: section;
}
.section3 p{
    font-size: 14px;
    text-indent: 2em;
}