@value colors: './colors.css';
@value doubanGreen from colors;
.container{
    margin-left: 10px;
}
.searchBar{
    background-color: doubanGreen;
    overflow:hidden;
    margin-left: -10px;
    text-align: center;
}
.searchBar .inputSimulation{
    width: 90%;
    margin: 10px auto;
    height: 25px;
    background-color: white;
    color: #888888;
    line-height: 25px;
    font-size: 10px;
    border-radius: 3px;
    position: relative;
}
.searchBar .inputSimulation span{
    margin-left: 4px;
}
.searchBar .inputSimulation input{
    width: 90%;
    text-indent: 1em;
    border: 0;
    outline: none;
    
}
.searchBar .inputSimulation input:focus {
    outline: none;
    background-color: transparent;
    border: 0;
} 
.rowContainer{
    width: 100%;
    overflow: scroll;
}
.commonRow{
    width: 300%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 5px 0;
}
.sectionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sectionHeader h4{
    margin: 10px 0;
}
.sectionHeader a{
    font-size: 14px;
    color: doubanGreen;
    margin-right: 10px;
    text-decoration: none;
}
.itemWrapper{
    margin-right: 20px;
}
.moiveImage{
    height: 150px;
    width: 100%;
    border-radius: 5px;
    display: block;
}