.container{
    margin-left: 10px;
}
.rowContainer{
    width: 100%;
    overflow: scroll;
}
.commonRow{
    width: 300%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 5px 0;
}
.sectionHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sectionHeader h4{
    margin: 10px 0;
}
.sectionHeader span{
    font-size: 14px;
    color: #08ba11;
    margin-right: 10px;

}
.itemWrapper{
    margin-right: 20px;
}
.moiveImage{
    height: 150px;
    width: 100%;
    border-radius: 5px;
    display: block;
}
.movieDesc{
    padding-left: 10px;
}
.movieDesc p{
    font-size: 13px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 6em;
    margin-top: 10px;
    margin-bottom: 5px;
}
.spirit{
    width:55px;
    height: 10px;
    display: inline-block;
    background-image: url('/images/rating.png');
    background-size: 55px 121px;
}
.rating{
    font-size: 10px;
    color: grey;
    margin-left: 5px;
}