.searchItem{
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #cccccc;
}
.searchItem:last-of-type{
    border-bottom: none;
}
.searchItem .imageWrapper{
    width: 30%;
}
.searchItem .imageWrapper img{
    width: 80%;
    height: 120px;
    object-fit: cover;
}
.movieInfo{
    max-width: 70%;
}
.movieInfo h5{
    margin: 0px 0;
}
.movieInfo p{
    font-size: 12px;
    color: grey;
}